@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ARJOCAMAHAMAGE-ResumeCreator" content="">
    <meta name="Kenneth Carl Nacua Ybanez" content="">

    <title>Resume Creator - Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/assets/css/Site.css" rel="stylesheet" />
    <link href="~/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/plugins/bootstrap/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="~/assets/js/core/PrintByElementModule/PrintByDiv.css" rel="stylesheet" />
    <link href="~/assets/css/DocumentPreview.css" rel="stylesheet" />
</head>

<body ng-app="arjocamahamageResumeCreatorApp">
    <div ui-view></div>
    <div class="developer-label">Developed by Kenneth Carl Nacua Ybanez</div>
</body>

</html>

<!-- jQuery -->
<script src="~/plugins/jquery/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- Bootstrap Form Validator -->
<script src="~/plugins/bootstrap/js/100hz/validator.min.js"></script>
<!-- AngularJS -->
<script src="~/plugins/angular/angular.min.js"></script>
<script src="~/plugins/angular/angular-ui-router.min.js"></script>
<script src="~/plugins/angular/angular-localForage.js"></script>
<!-- Custom JS -->
<script src="~/assets/js/core/PrintByElementModule/PrintByDiv.js"></script>
<script src="~/assets/js/core/core.js"></script>
<script src="~/assets/js/controllers/HomeController.js"></script>