body{
    background-color:#E8E8E8;
}

.header{
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    position: fixed;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08), 0 3px 1px -2px rgba(0, 0, 0, .2);
    padding: 15px 50px 0px 50px;
    font-family:inherit;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 999999;
}

.header >
     .menu-right{
        float:right;
        width: auto;
        padding: 0px 0px 0px 50px;
        color: rgb(88,88,88) ;
    }

    .menu-left{
        float:left;
        width: auto;
        padding: 0px 50px 0px 0px;
        color: rgb(88,88,88) ;
    }

    .menu-right:hover{
        color: black;
    }

    .menu-left:hover{
        color: black;
    }

.resume-container{
    width: 100%;
    height: auto;
    max-height: 100%;
    padding: 50px 50px 0px 50px;
}

.resume-container >
    .header1{
        width: 100%;
        min-height: 50px;
        max-height: 50px;
        padding: 15px 0px 0px 0px;
    }

input[name="filter"]{
    outline: none;
    border-radius: 0.3em;
    width: 320px;
    float:left;
}

.share-tile{
    min-width: 104px;
    max-width: 104px;
    float:left;
    border-radius: 0.3em;
    border : 1px solid rgb(128,128,128);
    min-height: 25px;
    max-height: 25px;
}

.share-tile-content{
    float:left;
    width: 51px;
    text-align: center;
    min-height: 23px;
    max-height: 23px;
    cursor: pointer;
    border-radius: .3em .3em .3em .3em;
    padding-top: 3px;
    font-size: 12px;
    -webkit-transition: color .3s, background-color .3s; /* For Safari 3.1 to 6.0 */
    transition: color .3s, background-color .3s;
}

.tleft{
    border-radius: .2em 0em 0em .2em;
}

.tright{
    border-radius: 0em .2em .2em 0em;
}

.active{
    color:white;
    background-color: rgb(112,112,112);
}

.inactive{
   color:rgb(128,128,128);
   background-color: #E8E8E8;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1023px)
and (max-width : 1440px){
    .user-resume-container{
        min-width: 160px;
        max-width: 160px;
        min-height: 220px;
        max-height: 220px;
        padding: 0px 0px 0px 30px;
        float: left;
        cursor: pointer;
        display: block;
    }

    .user-resume-detail{
        min-width: 130px;
        max-width: 130px;
        min-height: 180px;
        max-height: 180px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08), 0 3px 1px -2px rgba(0, 0, 0, .2);
        background-color: white;
        font-size: 5px;
        padding: 5px 5px 5px 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .user-resume-label{
        min-width: 130px;
        max-width: 130px;
        min-height: 40px;
        max-height: 40px;
        font-size:10px;
        font-weight: bold;
        padding-top: 3px;
        text-align: center;
    }

    .resume-detail-table{
        width: 120px;
    }

    .resume-detail-table-left{
        width: 100px;
    }
    .resume-detail-table-right{
         width: 20px;
    }

    .resume-detail-table-font1{
        font-weight: bold;
    }

    .resume-detail-table-font2{
        font-weight:bold;
        width: 13px;
    }

    .resume-detail-table-font3{
        padding-left: 5px;
    }
}

@media only screen
and (min-width: 767px)
and (max-width: 1024px){
    
}
/* End of Desktops and laptops ----------- */

/* Tablet */
@media only screen
and (min-width: 424px)
and (max-width: 768px){
    
}
/* End of Tablet */

/* Mobile Large */
@media only screen
and (min-width: 374px)
and (max-width: 425px){
    
}
/* End of Mobile Large */

/* Mobile Medium*/
@media only screen
and (min-width: 319px)
and (max-width: 375px){
   
}
/* End of Mobile Medium*/

/* Mobile Small*/
@media only screen
and (min-width: 1px)
and (max-width: 320px){
    
}
/* End of Mobile Medium*/